[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
psycopg2 = "*"
pandas = "*"
sqlalchemy = "*"
pyinstaller = "*"
cycler = "*"
matplotlib = ">=3.8"

[dev-packages]

[requires]
